In [1]:
import numpy as np
import pandas as pd
import math
np.set_printoptions(suppress=True)


user_artist_df = pd.read_csv('user_artist.csv')
test_df = pd.read_csv('test.csv')

In [2]:
new_df = (user_artist_df.copy())[0:50]
new_test_df = (test_df.copy())
mask = (new_test_df['userID'] == 145)
mask1 = (new_test_df['userID'] == 145) | (new_test_df['userID'] == 1539) | (new_test_df['userID'] == 2214)| (new_test_df['userID'] == 211) | (new_test_df['userID'] == 3028)
new_test_df = new_test_df[mask] 
new_test_df['weight'] = -1

In [3]:
new_test_df1 = pd.pivot_table(new_test_df, values = 'weight', index = ['userID'], columns = ['artistID'])
new_test_df1

artistID  430087
userID
145           -1

In [4]:
new_df1 = pd.pivot_table(new_df, values="weight", index=['userID'], columns=["artistID"])
new_df1

artistID,16297,34924,64135,71619,76710,77532,98678,124806,138281,158427,...,832710,838773,853711,880536,880675,923116,942223,955087,990451,998913
userID,,,,,,,,,,,,,,,,,,,,,
145,NaN,NaN,131.0,445.0,74.0,157.0,67.0,83.0,99.0,102.0,...,NaN,252.0,100.0,NaN,101.0,156.0,173.0,5450.0,NaN,132.0
211,188.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,114.0,NaN,NaN,103.0,NaN,NaN,NaN,NaN,80.0,NaN
1539,NaN,679.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
new_df1.fillna(0, inplace=True)

In [6]:
new_df1

artistID,16297,34924,64135,71619,76710,77532,98678,124806,138281,158427,...,832710,838773,853711,880536,880675,923116,942223,955087,990451,998913
userID,,,,,,,,,,,,,,,,,,,,,
145,0.0,0.0,131.0,445.0,74.0,157.0,67.0,83.0,99.0,102.0,...,0.0,252.0,100.0,0.0,101.0,156.0,173.0,5450.0,0.0,132.0
211,188.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,114.0,0.0,0.0,103.0,0.0,0.0,0.0,0.0,80.0,0.0
1539,0.0,679.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# R avg 
r_avg = (pd.DataFrame(new_df1).to_numpy()).mean()
r_avg

104.58666666666667

In [8]:
result = pd.concat([new_df1, new_test_df1])
# res1 = result.select_dtypes(np.number).max(level=0)
res2 = result.groupby(level = 0).median()

cols = sorted(list(res2.columns))
sortes3 = res2[cols]
sortes3.fillna(-2, inplace=True)

In [9]:
mtrx_R = pd.DataFrame(sortes3).to_numpy()
mtrx_R # the R matrix

array([[   0.,    0.,  131.,  445.,   74.,  157.,   67.,   83.,   99.,
         102.,  508.,    0.,  264.,    0.,  156.,    0.,   94.,    0.,
         103.,   78.,   74.,   -1.,  178.,    0.,  100.,  423.,  150.,
         105.,    0.,   91.,  112.,    0.,  147.,  272.,  187.,    0.,
         114.,  263.,    0.,  138.,  197.,    0.,  252.,  100.,    0.,
         101.,  156.,  173., 5450.,    0.,  132.],
       [ 188.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
           0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,  239.,
           0.,    0.,    0.,   -2.,    0.,   98.,    0.,    0.,    0.,
           0.,  192.,    0.,    0.,  172.,    0.,    0.,    0.,  133.,
           0.,    0.,  293.,    0.,    0.,  114.,    0.,    0.,  103.,
           0.,    0.,    0.,    0.,   80.,    0.],
       [   0.,  679.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
           0.,    0.,  602.,    0.,  577.,    0.,  942.,    0.,    0.,
           0.,    0.,    0.,   -2.,    0.,    0.,    0.,    0.,    0.,
           0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
           0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
           0.,    0.,    0.,    0.,    0.,    0.]])

In [10]:
# equations:
# r_hat = r_avg + b_u + b_ i
# min || r_hat - r ||^2
# (A_T * A) * b = A_T * c --> b = ((A_T * A)^ -1) * (A_T * c)
# need to find out the A matrix

In [11]:
lst = [[5,-1,5,2], [-1,4,4,4], [2,4,3,3]]
mtrx_R_tutorial = np.array(lst)
r_avg_tut = 3.6

In [12]:
def calc_deviation_b(arr):
    n = len(arr[arr >= 0])
    if n == 0:
        return 0
    sum_arr = 0
    for i in range(len(arr)):
        if arr[i] >= 0:
            sum_arr += arr[i]
    return sum_arr/n

In [13]:
b_u = []
b_i = []

b_u_tut = []
b_i_tut = []
for i in range(len(mtrx_R)):
    b_u_tut.append((calc_deviation_b(mtrx_R_tutorial[i]) - r_avg_tut))

print(b_u_tut)
sortes4 = sortes3.T
mtrx_R_transpose = pd.DataFrame(sortes4).to_numpy()
mtrx_R_tutorial_tr = mtrx_R_tutorial.T

for i in range(len(mtrx_R_tutorial_tr)):
    b_i_tut.append((calc_deviation_b(mtrx_R_tutorial_tr[i]) - r_avg_tut))
print(b_i_tut)

[0.3999999999999999, 0.3999999999999999, -0.6000000000000001]
[-0.10000000000000009, 0.3999999999999999, 0.3999999999999999, -0.6000000000000001]

In [14]:
mtrx_R_hat = np.zeros((len(mtrx_R), len(mtrx_R[0])))

mtrx_R_hat_tut = np.zeros((len(mtrx_R_tutorial), len(mtrx_R_tutorial[0])))

for i in range(len(mtrx_R_tutorial)):
     for j in range(len(mtrx_R_tutorial[0])):
#         if mtrx_R_tutorial[i,j] == -1:
#             mtrx_R_hat_tut[i,j] = -1
#         elif mtrx_R_tutorial[i,j] == -2:
#             mtrx_R_hat_tut[i,j] = -2
#         else:
        mtrx_R_hat_tut[i,j] = r_avg_tut + b_u_tut[i] + b_i_tut[j]
mtrx_R_hat_tut

array([[3.9, 4.4, 4.4, 3.4],
       [3.9, 4.4, 4.4, 3.4],
       [2.9, 3.4, 3.4, 2.4]])

In [28]:
mtrx_R_tilda = mtrx_R - mtrx_R_hat
mtrx_R_tilda_tut = mtrx_R_tutorial - mtrx_R_hat_tut
mtrx_R_tilda_tut[0,1] = -1
mtrx_R_tilda_tut[1, 0] = -1
mtrx_R_tilda_tut

array([[ 1.1, -1. ,  0.6, -1.4],
       [-1. , -0.4, -0.4,  0.6],
       [-0.9,  0.6, -0.4,  0.6]])

In [33]:
def special_inner_profuct(mtrx):
    mtrx_transpose = mtrx.T
    D = np.zeros((len(mtrx[0]), len(mtrx[0])))
    for i in range(len(mtrx_transpose)):
        for j in range(len(mtrx_transpose)):
            mone = np.dot(mtrx_transpose[i], mtrx_transpose[j])
            x = 0
            y = 0
            for k in range(len(mtrx_transpose[0])):
                
                if mtrx_transpose[i][k] != 0 and mtrx_transpose[j][k] != 0:
                    x += (mtrx_transpose[i][k] ** 2)
                    y += (mtrx_transpose[j][k] ** 2)     
            norm1 = x ** 0.5
            norm2 = y ** 0.5
            
            mechane = norm1 * norm2
            D[i,j] = mone / mechane
            
            return
            
    return D

In [34]:
def get_nearest(similarities, n):
    sim_arr = []
    
    for i in range(len(similarities)):
        array = similarities[i].copy()
        array_non_neg = array.copy()

        for j in range(len(array)):
            if int(array_non_neg[j]) == 1 or int(array_non_neg[j]) == -1:
                array_non_neg[j] = 0
            if array_non_neg[j] < 0:
                array_non_neg[j] = array_non_neg[j] * (-1)

        ind = np.argpartition(array_non_neg, -2)[-2:]
        
        top2 = array[sorted(ind)]
        sim_arr.append((top2, sorted(ind)))

    
    return sim_arr

# res = []
#     dct = {}
#     for x in range(0, 2):
#         largeNum = 0
#         largeidx = 0 
#         for y in range(len(array)):
#             if array[y] == 1:
#                 continue
#             elif np.abs(array[y]) > np.abs(largeNum):
#                 largeNum = array[y]
#                 largeidx = y
#         res.append((largeNum, largeidx))
#         array.remove(largeNum)
#     return res

In [35]:
# def get_final_R(mtrx_R_hat, mtrx_R_tilda, similiraties):
#     mtrx_R_final = np.zeros((len(mtrx_R_hat), len(mtrx_R_hat[0])))
#     for i in range(len(mtrx_R_hat)):
#         for j in range(len(mtrx_R_hat[0])):
#             if mtrx_R_hat[i,j] == -2:
#                 continue
#             else:
#                 d_nearest_tuple = get_nearest(j, similarities)
#                 d_nearest = []            
#                 for k in range(len(d_nearest_tuple)):
#                     d_nearest.append(d_nearest_tuple[k][0])
#                 r_tilda = [mtrx_R_tilda[i][d_nearest_tuple[0][1]],mtrx_R_tilda[i][d_nearest_tuple[1][1]]]
#                 mtrx_R_final[i,j] = mtrx_R_hat[i,j] + np.dot(r_tilda,d_nearest)
    
# #     an_array = np.where(mtrx_R_final < 0, 0, mtrx_R_final)
#     return mtrx_R_final

# #,mtrx_R_tilda[i][d_nearest_tuple[2][1]]]

def get_final_R(mtrx_R_hat, mtrx_R_tilda, similiraties):
    nearest = get_nearest(similarities, 2)
   
    mtrx_R_final = np.zeros((len(mtrx_R_hat), len(mtrx_R_hat[0])))

    for i in range(len(mtrx_R_hat)):
        for j in range(len(mtrx_R_hat[0])):
            if (i,j) != (0,1) and (i,j) != (1,0):
                mtrx_R_final[i,j] = mtrx_R_hat[i,j]
                continue
            
            most_similar_mvs_to_j = nearest[j][1]
           
            r_tilda  = (mtrx_R_tilda[i][most_similar_mvs_to_j])
            
            mone1 = np.dot(nearest[j][0], r_tilda)
            
            mechane1 = 0
            for k in range(len(nearest[j][0])):
                mechane1 += abs(nearest[j][0][k])
                
            print(r_tilda)
            print(nearest[j][0])
#             print(mone1)
#             print(mechane1) 
#             print(mone1/mechane1)
#             print(mtrx_R_hat[i,j])
                
            
            mtrx_R_final[i,j] = mtrx_R_hat[i,j] + mone1/mechane1
            print(mtrx_R_final[i,j])
    return mtrx_R_final

In [36]:
similarities = special_inner_profuct(mtrx_R_tilda_tut)
m = get_final_R(mtrx_R_hat_tut, mtrx_R_tilda_tut, similarities)
m

TypeError: object of type 'NoneType' has no len()

In [20]:
print(get_nearest(similarities, 2))

[(array([1.       , 0.7083122]), [0, 2]), (array([-0.73901232,  0.86111643]), [2, 3]), (array([-0.73901232, -0.9778046 ]), [1, 3]), (array([ 0.86111643, -0.9778046 ]), [1, 2])]

In [21]:
similarities

array([[ 1.        , -0.16261829,  0.7083122 , -0.60103427],
       [-0.16261829,  1.        , -0.73901232,  0.86111643],
       [ 0.7083122 , -0.73901232,  1.        , -0.9778046 ],
       [-0.60103427,  0.86111643, -0.9778046 ,  1.        ]])

In [22]:
mtrx_R_tilda_tut

array([[ 1.1, -5.4,  0.6, -1.4],
       [-4.9, -0.4, -0.4,  0.6],
       [-0.9,  0.6, -0.4,  0.6]])

In [23]:
mtrx_R_hat_tut

array([[3.9, 4.4, 4.4, 3.4],
       [3.9, 4.4, 4.4, 3.4],
       [2.9, 3.4, 3.4, 2.4]])