In [1]:
import numpy as np
import pandas as pd
import math
np.set_printoptions(suppress=True)


user_artist_df = pd.read_csv('user_artist.csv')
test_df = pd.read_csv('test.csv')

In [2]:
new_df = (user_artist_df.copy())[0:50]
new_test_df = (test_df.copy())
mask = (new_test_df['userID'] == 145)
mask1 = (new_test_df['userID'] == 145) | (new_test_df['userID'] == 1539) | (new_test_df['userID'] == 2214)| (new_test_df['userID'] == 211) | (new_test_df['userID'] == 3028)
new_test_df = new_test_df[mask] 
new_test_df['weight'] = -1

In [3]:
new_test_df1 = pd.pivot_table(new_test_df, values = 'weight', index = ['userID'], columns = ['artistID'])
new_test_df1

artistID  430087
userID
145           -1

In [4]:
new_df1 = pd.pivot_table(new_df, values="weight", index=['userID'], columns=["artistID"])
new_df1

artistID,16297,34924,64135,71619,76710,77532,98678,124806,138281,158427,...,832710,838773,853711,880536,880675,923116,942223,955087,990451,998913
userID,,,,,,,,,,,,,,,,,,,,,
145,NaN,NaN,131.0,445.0,74.0,157.0,67.0,83.0,99.0,102.0,...,NaN,252.0,100.0,NaN,101.0,156.0,173.0,5450.0,NaN,132.0
211,188.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,114.0,NaN,NaN,103.0,NaN,NaN,NaN,NaN,80.0,NaN
1539,NaN,679.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
new_df1.fillna(0, inplace=True)

In [6]:
new_df1

artistID,16297,34924,64135,71619,76710,77532,98678,124806,138281,158427,...,832710,838773,853711,880536,880675,923116,942223,955087,990451,998913
userID,,,,,,,,,,,,,,,,,,,,,
145,0.0,0.0,131.0,445.0,74.0,157.0,67.0,83.0,99.0,102.0,...,0.0,252.0,100.0,0.0,101.0,156.0,173.0,5450.0,0.0,132.0
211,188.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,114.0,0.0,0.0,103.0,0.0,0.0,0.0,0.0,80.0,0.0
1539,0.0,679.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
new_test_df1

artistID  430087
userID
145           -1

In [8]:
# R avg 
r_avg = (pd.DataFrame(new_df1).to_numpy()).mean()
r_avg

104.58666666666667

In [9]:
result = pd.concat([new_df1, new_test_df1])
# res1 = result.select_dtypes(np.number).max(level=0)
res2 = result.groupby(level = 0).median()

cols = sorted(list(res2.columns))
sortes3 = res2[cols]
sortes3.fillna(-2, inplace=True)

In [10]:
mtrx_R = pd.DataFrame(sortes3).to_numpy()
mtrx_R # the R matrix

array([[   0.,    0.,  131.,  445.,   74.,  157.,   67.,   83.,   99.,
         102.,  508.,    0.,  264.,    0.,  156.,    0.,   94.,    0.,
         103.,   78.,   74.,   -1.,  178.,    0.,  100.,  423.,  150.,
         105.,    0.,   91.,  112.,    0.,  147.,  272.,  187.,    0.,
         114.,  263.,    0.,  138.,  197.,    0.,  252.,  100.,    0.,
         101.,  156.,  173., 5450.,    0.,  132.],
       [ 188.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
           0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,  239.,
           0.,    0.,    0.,   -2.,    0.,   98.,    0.,    0.,    0.,
           0.,  192.,    0.,    0.,  172.,    0.,    0.,    0.,  133.,
           0.,    0.,  293.,    0.,    0.,  114.,    0.,    0.,  103.,
           0.,    0.,    0.,    0.,   80.,    0.],
       [   0.,  679.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
           0.,    0.,  602.,    0.,  577.,    0.,  942.,    0.,    0.,
           0.,    0.,    0.,   -2.,    0.,    0.,    0.,    0.,    0.,
           0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
           0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
           0.,    0.,    0.,    0.,    0.,    0.]])

In [11]:
# equations:
# r_hat = r_avg + b_u + b_ i
# min || r_hat - r ||^2
# (A_T * A) * b = A_T * c --> b = ((A_T * A)^ -1) * (A_T * c)
# need to find out the A matrix

In [12]:
def calc_deviation_b(arr):
    n = len(arr[arr >= 0])
    if n == 0:
        return 0
    sum_arr = 0
    for i in range(len(arr)):
        if arr[i] >= 0:
            sum_arr += arr[i]
    return sum_arr/n

In [13]:
b_u = []
b_i = []
for i in range(len(mtrx_R)):
    b_u.append((calc_deviation_b(mtrx_R[i]) - r_avg))

sortes4 = sortes3.T
mtrx_R_transpose = pd.DataFrame(sortes4).to_numpy()

for i in range(len(mtrx_R_transpose)):
    b_i.append((calc_deviation_b(mtrx_R_transpose[i]) - r_avg))

In [14]:
mtrx_R_hat = np.zeros((len(mtrx_R), len(mtrx_R[0])))
for i in range(len(mtrx_R)):
    for j in range(len(mtrx_R[0])):
        if mtrx_R[i,j] == -1:
            mtrx_R_hat[i,j] = -1
        elif mtrx_R[i,j] == -2:
            mtrx_R_hat[i,j] = -2
        else:
            mtrx_R_hat[i,j] = r_avg + b_u[i] + b_i[j]
        
mtrx_R_hat

array([[ 183.6       ,  347.26666667,  164.6       ,  269.26666667,
         145.6       ,  173.26666667,  143.26666667,  148.6       ,
         153.93333333,  154.93333333,  290.26666667,  321.6       ,
         208.93333333,  313.26666667,  172.93333333,  434.93333333,
         152.26666667,  200.6       ,  155.26666667,  146.93333333,
         145.6       ,   -1.        ,  180.26666667,  153.6       ,
         154.26666667,  261.93333333,  170.93333333,  155.93333333,
         184.93333333,  151.26666667,  158.26666667,  178.26666667,
         169.93333333,  211.6       ,  183.26666667,  165.26666667,
         158.93333333,  208.6       ,  218.6       ,  166.93333333,
         186.6       ,  158.93333333,  204.93333333,  154.26666667,
         155.26666667,  154.6       ,  172.93333333,  178.6       ,
        1937.6       ,  147.6       ,  164.93333333],
       [  -9.68      ,  153.98666667,  -28.68      ,   75.98666667,
         -47.68      ,  -20.01333333,  -50.01333333,  -44.68      ,
         -39.34666667,  -38.34666667,   96.98666667,  128.32      ,
          15.65333333,  119.98666667,  -20.34666667,  241.65333333,
         -41.01333333,    7.32      ,  -38.01333333,  -46.34666667,
         -47.68      ,   -2.        ,  -13.01333333,  -39.68      ,
         -39.01333333,   68.65333333,  -22.34666667,  -37.34666667,
          -8.34666667,  -42.01333333,  -35.01333333,  -15.01333333,
         -23.34666667,   18.32      ,  -10.01333333,  -28.01333333,
         -34.34666667,   15.32      ,   25.32      ,  -26.34666667,
          -6.68      ,  -34.34666667,   11.65333333,  -39.01333333,
         -38.01333333,  -38.68      ,  -20.34666667,  -14.68      ,
        1744.32      ,  -45.68      ,  -28.34666667],
       [  14.08      ,  177.74666667,   -4.92      ,   99.74666667,
         -23.92      ,    3.74666667,  -26.25333333,  -20.92      ,
         -15.58666667,  -14.58666667,  120.74666667,  152.08      ,
          39.41333333,  143.74666667,    3.41333333,  265.41333333,
         -17.25333333,   31.08      ,  -14.25333333,  -22.58666667,
         -23.92      ,   -2.        ,   10.74666667,  -15.92      ,
         -15.25333333,   92.41333333,    1.41333333,  -13.58666667,
          15.41333333,  -18.25333333,  -11.25333333,    8.74666667,
           0.41333333,   42.08      ,   13.74666667,   -4.25333333,
         -10.58666667,   39.08      ,   49.08      ,   -2.58666667,
          17.08      ,  -10.58666667,   35.41333333,  -15.25333333,
         -14.25333333,  -14.92      ,    3.41333333,    9.08      ,
        1768.08      ,  -21.92      ,   -4.58666667]])

In [15]:
mtrx_R_tilda = mtrx_R - mtrx_R_hat

In [24]:
from sklearn.metrics.pairwise import cosine_similarity
mtrx_R_tilda_new = np.nan_to_num(mtrx_R_tilda, copy=True, nan=0.0, posinf=None, neginf=None)
similarities = cosine_similarity(mtrx_R_tilda_new.T)
len(similarities[0])

51

In [25]:
mtrx_R_final = np.zeros((len(mtrx_R), len(mtrx_R[0])))

In [26]:
def get_nearest(i):
    res = []
    array = similarities[i]
    
    for x in range(0, 2):
        largeNum = 0
        for y in range(len(array)):
            if array[y] == 1:
                continue
            if np.abs(array[y]) > np.abs(largeNum):
                largeNum = array[y]
        array[y] = 0
        res.append((largeNum, y))
    return res

In [27]:
similarities

array([[ 1.        ,  0.15455374,  0.98009462, ..., -0.83017273,
         0.97968331,  0.98147243],
       [ 0.15455374,  1.        ,  0.34762278, ..., -0.67911379,
         0.34955476,  0.34099141],
       [ 0.98009462,  0.34762278,  1.        , ..., -0.92433008,
         0.99999788,  0.99997506],
       ...,
       [-0.83017273, -0.67911379, -0.92433008, ...,  1.        ,
        -0.92511468, -0.92161175],
       [ 0.97968331,  0.34955476,  0.99999788, ..., -0.92511468,
         1.        ,  0.99995837],
       [ 0.98147243,  0.34099141,  0.99997506, ..., -0.92161175,
         0.99995837,  1.        ]])

In [32]:
for i in range(len(mtrx_R)):
    for j in range(len(mtrx_R[0])):
        if mtrx_R_hat[i,j] == -2:
            continue
        else:
            res = get_nearest(j)
            print(res)
            break
            for k in range(2):
                
                mtrx_R_final[i,j] = mtrx_R_hat[i,j] + res[1][k]

[0.9999859207546942, 0.9999859207546942]
[0.9999859207546942, 0.9999859207546942]
[0.9999859207546942, 0.9999859207546942]