In [1]:
import numpy as np
import pandas as pd
import math

user_artist_df = pd.read_csv('user_artist.csv')
test_df = pd.read_csv('test.csv')

In [125]:
new_df = (user_artist_df.copy())[0:10]
new_test_df = (test_df.copy())
mask = (new_test_df['userID'] == 145)
mask1 = (new_test_df['userID'] == 145) | (new_test_df['userID'] == 1539)
new_test_df = new_test_df[mask]
new_test_df['weight'] = -1

In [126]:
new_test_df1 = pd.pivot_table(new_test_df, values = 'weight', index = ['userID'], columns = ['artistID'])
new_test_df1

artistID  430087
userID
145           -1

In [127]:
new_df1 = pd.pivot_table(new_df, values="weight", index=['userID'], columns=["artistID"])
new_df1

artistID,64135,71619,76710,77532,98678,124806,138281,158427,161791,172260
userID,,,,,,,,,,
145,131,445,74,157,67,83,99,102,508,264

In [128]:
new_df1.fillna(0, inplace=True)

In [129]:
new_df1

artistID,64135,71619,76710,77532,98678,124806,138281,158427,161791,172260
userID,,,,,,,,,,
145,131,445,74,157,67,83,99,102,508,264

In [130]:
new_test_df1

artistID  430087
userID
145           -1

In [139]:
# R avg 
r_avg = (pd.DataFrame(new_df1).to_numpy()).mean()
r_avg

193.0

In [140]:
result = pd.concat([new_df1, new_test_df1])
# res1 = result.select_dtypes(np.number).max(level=0)
res2 = result.groupby(level = 0).median()

cols = sorted(list(res2.columns))
sortes3 = res2[cols]

In [141]:
mtrx_R = pd.DataFrame(sortes3).to_numpy()
mtrx_R # the R matrix

array([[131., 445.,  74., 157.,  67.,  83.,  99., 102., 508., 264.,  -1.]])

In [142]:
# equations:
# r_hat = r_avg + b_u + b_ i
# min || r_hat - r ||^2
# (A_T * A) * b = A_T * c --> b = ((A_T * A)^ -1) * (A_T * c)
# need to find out the A matrix

In [163]:
# for the calculation, only the users which have the real r values in the R matrix.
m = len(mtrx_R)   # number of user's biases
n = len(mtrx_R[0])   # number of artists's biases
num_rows_A = len(mtrx_R[mtrx_R >= 0])
A = np.zeros((num_rows_A, m+n))
num_biases_users = m
num_biases_artists = num_rows_A
counter_num_user = 0
counter_num_artist = 0

total = n*m
i = 0
k = 0
while(i <= n*m):
    A[counter_num_user][k] = 1
    A[counter_num_user][counter_num_artist + num_biases_users] = 1
    counter_num_artist += 1
    counter_num_user += 1
    if (counter_num_artist + num_biases_users) == num_biases_artists:
        counter_num_artist = 0
        k +=1
A

IndexError: index 10 is out of bounds for axis 0 with size 10

In [136]:
len(mtrx_R[mtrx_R >= 0])

10